* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.input {
  position: relative;
  top: 11px;
  display: flex;
  margin: 20px auto;
  margin-top: 10px;
  width: 500px;
  height: 90px;
  justify-content: space-between;
}

.input-number {
  margin: 20px;
  width: 400px;
}

h2 {
  padding-top: 32px;
  color: #484a4a;
}